@font-face {
    font-family: fundaprop-font;
    src: url(../fonts/CerebriSansPro-Regular.ttf);
}

body {
    color: #444444;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    font-family: fundaprop-font;
  }
  
  img {
    width: 100%;
  }
  
  /* Typography */
  
  .nav-list {
      color: #484848;
      font-size: 15px;
      display: flex;
      align-items: center;
  }
  
  .intro-text {
    padding: 0 23px;
    font-size: 30px;
    margin: 53px 0 0;
  }
  
  .intro-paragraph {
    line-height: 31px;
    font-size: 17px;
    max-width: 260px;
    margin: 0;
  }
  
  .title {
      margin: 0;
      font-size: 30px;
      line-height: 40px;
      font-weight: 500;
      color: #026873;
  }
  
  .col-1-paragraph {
      margin: 0;
      font-size: 14px;
      line-height: 24px;
      color: #444444;
      padding-right: 30px;
  }
  
  .step-no {
    width: 64px;
    height: 64px;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #54BFA1;
    background: #E3F5F0;
    border-radius: 3px;
    margin: 0;
  }
  
  .step-title {
      margin: 25px 0 0;
      font-size: 20px;
      line-height: 24px;
      color: #444444;
      font-weight: 400;
  }
  
  .step-paragraph {
      margin: 16px 0 0;
      font-size: 14px;
      line-height: 23px;
      padding-right: 30px;
  }
  
  .col-2-equation {
      margin: 0;
      color: #727272;
      font-size: 35px;
      line-height: 55px;
  }
  
  .result {
      color: #026873;
      font-weight: bolder;
  }
  
  .col-3-title {
      color: #fff;
      font-weight: bold;
  }
  
  .block-title {
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      margin: 0;
  }
  
  .block-paragraph {
      margin: 5px 0 0;
      color: #fff;
      font-size: 14px;
      line-height: 23px;
  }
  
  .col-4-title {
      width: 173px;
      padding: 0 0 0 20px;
  }
  
  .building-title {
      margin: 0;
      color: #fff;
      padding: 0 28px;
      font-size: 20px;
      line-height: 29px;
      height: 65px;
      display: flex;
      align-items: center;
      background: transparent linear-gradient(180deg, #2C2C2C00 0%, #272727 100%) 0% 0% no-repeat padding-box;
  }
  
  .column-4 {
      display: flex;
      flex-direction: column;
      margin: 66px 0 0;
  }
  
  .col-4 {
      display: grid;
      grid-row-gap: 38px;
      margin: 35px 0 0;
      padding: 0 15px;
  }
  
  .sub-col-4 {
      display: flex;
      flex-direction: column;
  }
  
  .building {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 218px;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      padding: 0;
  }
  
  .build-rate {
      margin: 0;
      font-size: 18px;
      color: #54BFA1;
  }
  
  .build-paragraph {
      margin: 0;
      font-size: 14px;
      line-height: 18px;
      color: #656565;
  }
  
  .loading-rate {
      margin: 0;
      font-size: 12px;
      color: #54BFA1;
  }
  
  .get-started {
      margin: 0;
      font-size: 30px;
      color: #fff;
  }
  
  .get-started-paragraph {
      margin: 15px 0 0;
      line-height: 23px;
      font-size: 14px;
      padding: 0 30px 0 0;
      color: #fff;
  }
  
  .coming-soon {
      margin: 0;
      font-size: 9px;
      line-height: 18px;
      color: #fff;
  }
  
  .store-title {
      margin: 0;
      color: #fff;
      font-size: 16px;
      line-height: 18px;
  }
  
  .footer-list {
      color: #717171;
      font-size: 15px;
      line-height: 38px;
      height: 100%;
      width: 100%;
  }
  
  .social-title {
      margin: 0;
      font-size: 25px;
      color: #464646;
      font-weight: 500;
  }
  
  .footer-paragraph {
      margin: 0;
      font-size: 14px;
      line-height: 27px;
      color: #6B6B6B;
  }
  
  /* Buttons */
  
  .menu-btn {
    border: none;
    background: none;
    padding: 6px;
    outline: none;
  }
  
  .hamburger-icon {
    height: 11px;
  }
  
  .log-in {
      text-decoration: none;
      color: #6D00C0;
      border: 1px solid;
      border-radius: 3px;
      width: 88px;
      height: 30px;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .register {
      text-decoration: none;
      color: #fff;
      background: #6D00C0;
      border: 1px solid;
      border-radius: 3px;
      width: 112px;
      height: 35px;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .btn {
    background: #6D00C0;
    color: #fff;
    text-decoration: none;
    display: flex;
    outline: none;
    cursor: pointer;
  }
  
  .get_started {
    height: 66px;
    margin-top: 53px;
    display: flex;
    padding: 0 23px;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
  }
  
  .arrow-img {
    width: 23px;
    height: 16px;
    margin-left: 17px;
  }
  
  .signup-btn {
      font-size: 16px;
      line-height: 31px;
      justify-content: center;
      align-items: center;
      height: 62px;
      border-radius: 3px;
      margin-top: 49px;
  }
  
  .arrow-btn-sign {
      margin-left: 19px;
      width: 44px;
      object-fit: cover;
      height: 16px;
  }
  
  /* Layout */
  
  .header-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
  }
  
  .logo-link {
    height: 32px;
    width: auto;
  }
  
  .nav-bar {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #fff;
    padding: 28px 0;
  }
  
  .nav-lists {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
  }
  
  .list-link {
      padding: 15px 28px;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      text-decoration: none;
      color: inherit;
  }

  .current {
      color: #026873;
  }
  
  .user-actions {
      margin-top: 15px;
      display: grid;
      grid-row-gap: 20px;
      padding: 0 28px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    background: #026873;
    color: #fff;
  }
  
  .intro-img-1 {
    height: 199px;
    width: auto;
    display: block;
  }
  
  .intro-img-2 {
    height: 171px;
    width: auto;
    display: block;
  }

  .intro-img-3 {
      display: none;
  }
  
  .column-info {
    display: flex;
    flex-direction: column;
    padding: 19px 23px 0;
  }
  
  .column-1 {
      margin: 87px 0 0;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
  }
  
  .sub-col-1 {
      display: grid;
      grid-row-gap: 34px;
  }
  
  .col-1-title {
      max-width: 190px;
  }
  
  .sub-col-2 {
      display: grid;
      grid-row-gap: 5px;
  }
  
  .steps {
      display: flex;
      flex-direction: column;
      margin-top: 41px;
  }
  
  .column-2 {
      margin: 47px 0 0;
      background: #E3F5F0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 54px 20px;
  }
  
  .column-3 {
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      background: #026873;
  }
  
  .col-3-img {
      height: 448px;
      display: block;
  }
  
  .col-3 {
      display: flex;
      flex-direction: column;
      margin: 65px 0 0;
      padding: 0 20px;
  }
  
  .sub-col-3 {
      display: grid;
      grid-row-gap: 56px;
      margin: 60px 0 0;
      padding: 0 0 62px;
  }
  
  .col-3-block {
      display: grid;
      grid-row-gap: 20px;
  }
  
  .col-3-block-icon {
      width: auto;
      height: 44px;
      display: block;
  }
  
  .building-details {
      box-shadow: 0px 10px 20px #0000001A;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      padding: 0;
  }
  
  .building-1 {
      background: url(https://cdn.rebasive.net/fundaprop/house-1.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  
  .building-2 {
      background: url(https://cdn.rebasive.net/fundaprop/house-3.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  
  .building-3 {
      background: url(https://cdn.rebasive.net/fundaprop/house-2.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  
  .building-info {
      padding: 16px 28px;
      display: flex;
  }
  
  .build-type {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 110px;
      height: 31px;
      background: #E3F5F0 0% 0% no-repeat padding-box;
      border-radius: 3px;
      font-size: 12px;
      color: #54BFA1;
  }
  
  .build-location {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 110px;
      height: 31px;
      background: #E3F5F0 0% 0% no-repeat padding-box;
      border-radius: 3px;
      font-size: 12px;
      color: #54BFA1;
      margin-left: 13px;
  }
  
  .build-icon {
      width: 11px;
      height: 9px;
      margin-right: 9px;
  }
  
  .build-numbers {
      margin: 26px 0 0;
      display: grid;
      grid-row-gap: 26px;
      padding: 0 28px;
  }
  
  .build-ratings {
      display: flex;
      flex-direction: column;
  }
  
  .build-price {
      display: grid;
      grid-template-columns: auto auto;
      grid-row-gap: 28px;
  }
  
  .sub-build-price {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 23px;
  }
  
  .build-load {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 15px;
      align-items: center;
  }
  
  .build-loading {
      height: 7px;
      background: #E5E5E5;
      border-radius: 21px;
      position: relative;
  }
  
  .build-loading:after {
      content: "";
      position: absolute;
      height: 7px;
      width: 192px;
      background: #54BFA1;
      border-radius: 21px;
  }
  
  .column-5 {
      margin: 70px 20px 0;
      background: #026873;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
  }
  
  .get-started-img {
      height: 280px;
      width: auto;
      object-fit: contain;
  }
  
  .get-started-block {
      margin: 24px;
      display: flex;
      flex-direction: column;
  }
  
  .get-started-info {
      display: flex;
      flex-direction: column;
  }
  
  .get-started-store {
      display: grid;
      grid-row-gap: 12px;
      margin: 42px 0 0;
  }
  
  .store {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 23px;
      align-items: center;
      border: 1px solid #FFFFFF;
      border-radius: 3px;
      justify-content: center;
      min-width: 156px;
      height: 51px;
  }
  
  .store-icon {
      width: auto;
      height: 25px;
  }
  
  .store-info {
      display: grid;
  }
  
  .footer-grid {
      display: grid;
      margin: 70px 0 0;
      padding: 58px 38px 56px;
      background: #F8F8F8;
      grid-row-gap: 55px;
  }
  
  .footer-logo {
      height: 45px;
      width: auto;
  }
  
  .footer-col {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
  }
  
  .footer-link {
      height: 100%;
      width: 100%;
      display: flex;
      text-decoration: none;
      color: inherit;
      letter-spacing: 0.58px;
  }
  
  .footer-social {
      display: grid;
      grid-row-gap: 22px;
  }
  
  .social-links {
      display: flex;
      justify-content: space-between;
      max-width: 160px;
  }
  
  .social-icon {
      height: 24px;
      width: auto;
  }
  
  .footer-legals {
      display: flex;
      margin: 6px 0 0;
  }

/*   Registeration page */

  .reg-logo-link {
      height: auto;
      width: fit-content;
  }

  .reg-logo {
      height: 36px;
      width: auto;
  }

  .reg-grid {
      background: #EFF6F4;
      display: flex;
      flex-direction: column;
      padding: 37px 20px 50px;
      height: 100%;
  }

  .register-block {
      margin: 36px 0;
      display: grid;
  }

  .reg-title {
      margin: 0;
      font-size: 20px;
      color: #444444;
  }

  .reg-form {
      margin: 34px 0 0;
      display: grid;
      grid-row-gap: 23px;
  }

  .input-block {
      display: grid;
      grid-row-gap: 11px;
      position: relative;
  }

  .input-title {
      font-size: 14px;
      color: #545454;
      letter-spacing: 0.28px;
  }

  .input-box {
      border: none;
      height: 47px;
      border-radius: 3px;
      padding: 0 15px;
      outline: none;
  }

  .visibility {
      position: absolute;
      width: 18px;
      align-self: end;
      right: 17px;
      bottom: 11px;
      cursor: pointer;
      border: none;
      background: none;
      padding: 0;
      outline: none;
  }

  .continue {
      border: none;
      margin: 52px 0 0;
      height: 47px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      letter-spacing: 0.3px;
  }

  .options {
      font-size: 16px;
      margin: 31px 0;
      text-align: center;
  }

  .reg-action {
      color: #54BFA1;
  }

  .reg-paragraph {
      font-size: 14px;
      color: #545454;
      line-height: 25px;
      width: 211px;
      margin: 24px 0 0;
  }

  .question {
      margin: 54px 0 0;
      font-size: 16px;
      color: #3A3A3A;
  }

  .verify-grid {
      height: 100vh;
  }

  .verify {
      margin: 22px 0 10px;
  }
  
  .info-paragraph {
      width: 272px;
      line-height: 22px;
  }

  .name-box {
      display: grid;
      grid-row-gap: 23px;
  }
  
  .phone-box {
      padding: 0 15px 0 107px;
  }

  .flags {
      appearance: none;
      position: absolute;
      align-self: end;
      bottom: 6px;
      padding-left: 50px;
      border: none;
      background: transparent;
      width: 95px;
      height: 50%;
      outline: none;
      display: flex;
  }

  .personal-btn {
      margin: 1px 0 0;
  }

  .phone-paragraph {
      letter-spacing: 0.28px;
      line-height: 22px;
      width: 272px;
  }

  .input-column {
      margin: 47px 0 0;
      display: grid;
      grid-template-columns: repeat(4, 54px);
      grid-template-rows: 54px;
      grid-column-gap: 15px;
  }

  .phone-input {
      border: none;
      outline: none;
      text-align: center;
      font-size: 26px;
      border-radius: 7px;
  }

  .resend {
      margin: 36px 0 8px;
      font-size: 14px;
      left: 0.28px;
  }

  .drop-zone {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border: 1px dashed #B5B5B5;
    height: 159px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
  }

  .drop-zone__over {
      border-style: solid;
  }

  .drop-zone__input {
      display: none;
  }

  .drop-zone__thumb {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      overflow: hidden;
      background-color: #cccccc;
      background-size: cover;
      position: relative;
  }

  .drop-zone__thumb::after {
      content: attr(data-label);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 5px 0;
      color: #fff;
      background: rgba(0, 0, 0, 0.75);
      text-align: center;
  }

  .drop-zone__prompt {
      padding: 0 88px;
      text-align: center;
      letter-spacing: 0.28px;
      line-height: 22px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
  }

  .upload-icon {
      height: 28px;
      width: auto;
      margin-bottom: 13px;
  }

  .card-title {
      width: 190px;
      line-height: 30px;
  }

  .success-img {
      margin-top: 12px;
      height: 198px;
  }

  .success-title {
      margin: 58px 0 0;
      text-align: center;
      font-size: 20px;
      color: #444444;
  }

  .success-paragraph {
      text-align: center;
      width: 280px;
      margin: 27px auto 42px;
  }

  .nav-grid {
      display: none;
  }

  .main-navigation {
      display: none;
  }

  .main-grid {
      display: grid;
      padding: 42px 20px 0;
  }

  .nav-block {
        display: grid;
  }

  .dashboard-grid {
        padding: 42px 20px;
        display: grid;
        position: relative;
  }

  .investments-bal {
      display: flex;
      flex-direction: column;
      text-align: center;
      background: url(https://cdn.rebasive.net/fundaprop/card.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      color: #fff;
      padding: 37px 0;
      border-radius: 5px;
  }

  .bal-title {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      font-family: 'fundaprop-font';
  }

  .bal-number {
      margin: 15px 0 0;
      font-size: 36px;
      font-weight: 500;
  }

  .invest-column {
      display: grid;
      margin: 30px 0 76px;
  }

  .invest-title {
      font-size: 18px;
      font-weight: 500;
      margin: 0;
  }

  .investment-block {
      display: grid;
      grid-row-gap: 40px;
      margin: 20px 0 0;
  }

  .home-block {
      display: grid;
      grid-row-gap: 20px;
      cursor: pointer;
      border-radius: 3px;
  }

  .home-img {
      border-radius: 3px;
      height: 128px;
      display: flex;
      align-items: flex-end;
      background: url(https://cdn.rebasive.net/fundaprop/house-2.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }

  .home-title {
    width: 100%;
  }

  .home-details {
      display: grid;
  }

  .home-numbers {
      margin: 30px 0 0;
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
  }

  .home-complete {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .complete-bar {
      height: 7px;
      background: #EBD1FF;
      border-radius: 21px;
      width: 241px;
      position: relative;
  }

  .complete-txt {
      margin: 0;
      font-size: 12px;
      color: #464646;
  }

  .complete-bar:before {
      content: "";
      position: absolute;
      background: #6D00C0 0% 0% no-repeat padding-box;
      border-radius: 21px;
      width: 196px;
      height: 100%;
  }

  .invest-btn {
      margin: 21px 0 0;
  }

  .logo-img {
      display: none;
  }

  .nav-grid-lists {
      z-index: 1;
      list-style: none;
      padding: 0;
      display: grid;
      grid-auto-flow: column;
      justify-content: space-around;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: #fff;
      margin: 0 auto;
      padding: 20px 0;
  }

  .user-details {
      display: none;
  }

  .grid-list {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .grid-list-link {
      color: #8E8E8E;
      justify-items: center;
      display: flex;
      flex-direction: column;
      text-decoration: none;
  }

  .list-icon {
      height: 21px;
      width: auto;
  }

  .list-title {
      margin: 9px 0;
      font-size: 10px;
  }

  .list-title-active {
      color: #54BFA1;
  }

  .portfolio-title {
      margin: 0 0 25px;
      text-align: center;
      color: #026873;
      font-size: 15px;
      font-weight: 600;
  }

  .investment-buttons {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 11px;
      margin: 15px 0 0;
  }

  .investment-btn {
      min-width: 162px;
      height: 51px;
      justify-content: center;
      align-items: center;
      border: none;
      font-size: 14px;
      border-radius: 3px;
  }

  .withdraw-btn {
      background: #878787;
  }

  .portfolio-invest-title {
      color: #026873;
      font-weight: 600;
  }

  .property-block {
      grid-row-gap: 20px;
  }

  .property {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 16px;
      align-items: center;
      background: #F8F8F8;
      border-radius: 3px;
      cursor: pointer;
  }

  .property-img {
      height: 119px;
      width: 96px;
      object-fit: cover;
      border-radius: 3px 0px 0px 3px;
  }

  .property-info {
      display: flex;
      flex-direction: column;
  }

  .property-title {
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      color: #373737;
  }

  .property-paragraph {
      margin: 10px 0 0;
      font-size: 10px;
      line-height: 13px;
      font-weight: 400;
      padding-right: 20px;
  }

  .property-number {
      margin: 10px 0 0;
      font-size: 14px;
      font-weight: 500;
      color: #54BFA1;
      display: inline-flex;
  }

@media screen and (min-width: 1024px) {
    .header-grid {
        padding: 40px 80px;
    }

    .logo-link {
        height: 45px;
    }

    .menu-btn {
        display: none;
    }

    .nav-bar {
        display: flex;
        position: unset;
        background: unset;
        padding: 0;
    }

    .nav-lists {
        display: flex;
        margin: 0 50px 0 0;
    }

    .list-link {
      padding: 15px;
      height: auto;
      margin-right: 10px;
    }

    .user-actions {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .log-in {
        width: 120px;
        height: 50px;
    }

    .register {
        width: 164px;
        height: 50px;
    }

    .column {
        display: grid;
        overflow: hidden;
    }

    .intro-img-2 {
        grid-column: 1 / -1;
        grid-row: 1;
        width: 483px;
        height: 215px;
        margin-left: -490px;
        animation: slideInLeft 1s forwards;
    }

    @keyframes slideInLeft {
      100% {margin-left: 0}
    }

    .intro-text {
        grid-column: 1;
        grid-row: 1;
        padding: 0 0 0 300px;
        margin: 0;
        justify-self: right;
        justify-content: center;
        min-width: 1000px;
        display: flex;
        align-items: center;
        font-size: 60px;
        line-height: 86px;
    }

    .intro-img-1 {
        grid-column: 1 / -1;
        grid-row: 2;
        width: 818px;
        height: 431px;
        margin-left: -820px;
        animation: slideInLeft 1.5s forwards;
        animation-delay: 0.3s;
    }

    .column-info {
        grid-column: 1 / -1;
        grid-row: 2;
        padding: 0;
        flex-direction: row;
        background: #fff;
        height: 216px;
        margin: 0 -1090px 0 0;
        justify-self: flex-end;
        animation: slideInRight 2s forwards;
        animation-delay: 0.3s;
    }

    @keyframes slideInRight {
      100% {margin-right: 0}
    }

    .intro-paragraph {
        display: flex;
        align-items: center;
        padding: 0 57px;
        color: #000;
    }

    .intro-img-3 {
        display: block;
        width: 714px;
    }

    .get_started {
        margin: 0 0 0 818px;
        grid-row: 2;
        grid-column: 1 / -1;
        align-self: end;
        justify-self: end;
        height: 216px;
        width: -webkit-fill-available;
        padding: 0;
        justify-content: center;
        font-size: 30px;
    }

    .arrow-img {
        width: 36px;
        height: 25px;
        margin: 0 0 0 12px;
    }

    .column-1 {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 194px;
        padding: 0 65px;
        position: relative;
        margin-top: 115px;
    }

    .sub-col-1 {
        display: flex;
        flex-direction: column;
        padding: 11px 0;
        max-width: 280px;
    }

    .col-1-title {
        font-size: 40px;
        max-width: 250px;
        line-height: 50px;
        font-weight: bold;
    }

    .signup-btn {
        position: absolute;
        margin: 270px 65px 0;
        width: 212px;
        height: 62px;
    }

    .sub-col-2 {
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 30px;
        grid-row-gap: 69px;
    }


    .steps {
        margin: 0;
        max-width: 220px;
    }

    .column-2 {
        margin: 109px 0 0;
        padding: 95px 0;
    }

    .col-2-equation {
        font-size: 45px;
    }

    .result {
        font-size: 50px;
    }

    .column-3 {
        margin: 0;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }

    .col-3-img {
        height: 100%;
        max-width: 619px;
        grid-column: 2;
        grid-row: 1;
        object-fit: cover;
        object-position: top;
    }

    .col-3 {
        margin: 58px 0 0;
        padding: 0 89px 58px;
    }

    .col-3-title {
        font-size: 40px;
        line-height: 31px;
    }

    .sub-col-3 {
        grid-template-columns: auto auto;
        grid-column-gap: 132px;
        grid-row-gap: 65px;
        padding: 0;
    }

    .col-3-block {
        max-width: 276px;
    }

    .column-4 {
        margin: 190px 0 0;
        padding: 0 32px;
        grid-row-gap: 60px;
    }

    .col-4-title {
        width: unset;
        font-size: 40px;
        line-height: 31px;
        font-weight: bold;
        padding: 0;
    }

    .invest-btn {
        position: unset;
        margin: 24px 0 0;
        width: -webkit-fill-available;
    }

    .col-4 {
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 45px;
        padding: 0;
        margin: 0;
    }

    .sub-col-4 {
        max-width: 346px;
    }

    .column-5 {
        margin: 90px 32px 0;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 87px;
    }

    .get-started-img {
        height: 299px;
    }

    .get-started-block {
        margin: 0;
        width: 327px;
        padding: 0;
        justify-content: center;
    }

    .get-started {
        font-size: 41px;
    }

    .get-started-store {
        grid-template-columns: auto auto;
        grid-column-gap: 15px;
    }

    .footer-grid {
        grid-template-columns: repeat(5, auto);
        padding: 69px 32px;
    }

    .footer-legals {
        grid-column: 1 / -1;
    }

    .footer-social {
        display: flex;
        flex-direction: column;
    }

/*     Registeration Page */

    .reg-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reg-logo-link {
        margin: 40px 0;
    }

    .reg-logo {
        height: 45px;
    }

    .register-block {
        background: #fff;
        width: 444px;
        padding: 30px 23px 43px;
    }

    .reg-title {
        font-size: 25px;
    }

    .reg-form {
        margin: 30px 0 0;
        grid-row-gap: 20px;
    }

    .input-block {
        grid-row-gap: 10px;
    }

    .input-box {
        background: #F8F9F9 0% 0% no-repeat padding-box;
        border: 1px solid #D6D6D6;
        border-radius: 3px;
        padding: 0 20px;
        color: #545454;
        cursor: pointer;
    }

    .reg-paragraph {
        margin: 20px 0 0;
    }

    .question {
        margin: 41px 0 0;
    }

    .verify-options {
        margin: 16px 0 0;
        text-align: left;
    }

    .name-box {
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
    }

    .phone-box {
        padding: 0 15px 0 107px;
    }

    .phone-input {
        border: 1px solid #54BFA1;
    }

    .dropzone__prompt {
        margin: 0 0 14px;
    }

    .residence-paragraph {
        width: 300px;
    }

    .card-title {
        width: 300px;
        line-height: 35px;
    }

    .success-title {
        margin: 40px 0 0;
        color: #026873;
    }

    .success-paragraph {
        margin: 27px auto 31px;
        width: 280px;
        line-height: 24px;
    }

    .dashboard-logo {
      height: 40px;
      width: auto;
  }

  .grid-list-link {
      display: grid;
      grid-template-columns: 26px 100px;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 68px;
  }

  .grid-list-link:hover,
  .grid-list-link:focus {
      background: #EDF9F5 0% 0% no-repeat padding-box;
      border-radius: 10px;
  }

  .list-icon {
      height: 26px;
      width: 26px;
  }

  .list-title {
      font-size: 15px;
      justify-self: baseline;
  }

  .portfolio-title {
      display: none;
  }

  .investments-bal {
      padding: 51px 0;
      width: 580px;
  }

  .bal-title {
      font-size: 21px;
  }

  .bal-number {
      font-size: 40px;
      font-weight: bold;
      margin: 28px 0 0;
  }

  .invest-column {
      margin: 0;
      height: 600px;
      overflow: hidden;
      overflow-y: auto;
  }

  .invest-column::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .invest-column {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  
    .dashboard-grid {
        grid-template-columns: 280px auto;
        padding: 0;
        background: #EFF6F4;
    }

    .nav-block {
        grid-column: 1;
        grid-template-rows: auto 1fr auto;
        grid-row-gap: 80px;
        padding: 72px 20px;
        background: #fff;
    }

    .dashboard {
        grid-column: 2;
        width: 580px;
        padding: 72px 81px;
    }

    .logo-img {
        display: flex;
        justify-content: center;
    }

    .nav-grid-lists {
        grid-auto-flow: row;
        grid-row-gap: 9px;
        position: unset;
        align-self: baseline;
        justify-content: unset;
        padding: 0;
        width: 100%;
    }

    .main-navigation {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
    }

    .navigation-column {
        display: grid;
    }

    .notification-icon {
        height: 24px;
        width: auto;
        cursor: pointer;
    }

    .navigation-title {
        font-size: 24px;
        color: #434343;
        font-weight: 500;
        margin: 0;
    }

    .navigation-path {
        margin: 10px 0 30px;
        font-size: 14px;
    }

    .user-details {
        display: grid;
        grid-row: 3;
        justify-content: center;
    }

    .user-img {
        height: 70px;
        width: auto;
    }

    .user-name {
        margin: 16px 0 0;
        font-size: 16px;
        color: #373737;
    }

    .user-email {
        margin: 10px 0 0;
        font-size: 14px;
        color: #8E8E8E;
    }

    .main-column-2 {
        display: grid;
        grid-row-gap: 40px;
    }

    .invest-title {
        font-size: 24px;
        font-weight: 500;
    }

    .investment-block {
        grid-template-columns: repeat(2, 283px);
        grid-column-gap: 14px;
        grid-row-gap: 30px;
    }

    .home-block {
        background: #Fff;
    }

    .dashboard-invest-btn {
        display: none;
    }

    .dash-paragraph {
        font-size: 13px;
    }

    .dash-rate {
        font-size: 16px;
    }

    .home-details {
        padding: 28px 25px 33px;
    }

    .complete-bar:before {
          content: "";
          position: absolute;
          background: #6D00C0 0% 0% no-repeat padding-box;
          border-radius: 21px;
          width: 103px;
          height: 100%;
      }

    .complete-bar {
        width: 136px;
    }

    .property-block {
        grid-template-columns: none;
    }

    .property-img {
        width: 186px;
        height: 119px;
    }

    .property {
        background: #fff;
        grid-column-gap: 45px;
    }

    .property-title {
    }

    .property-number {
        margin: 23px 0 0;
    }

    .property-paragraph {
        padding-right: 50px;
    }

    .investment-buttons {
        margin: -20px 0 0;
    }

    .portfolio-invest-title {
        color: inherit;
    }
  
}



@media screen and (min-width: 1366px) {
    .column-1 {
        padding: 0 191px;
    }

    .intro-text {
        padding: 0;
        min-width: 1200px;
    }

    .sub-col-2 {
        grid-column-gap: 135px;
    }

    .signup-btn {
        margin: 270px 191px 205px;
    }

    .col-2-equation {
        font-size: 51px;
    }

    .result {
        font-size: 63px;
    }

    .column-4 {
        padding: 0 131px;
    }

    .col-4 {
        grid-column-gap: 70px;
    }

    .sub-col-4 {
        max-width: unset;
    }

    .invest-btn {
        position: unset;
        margin: 24px 0 0;
    }

    .column-5 {
        margin: 90px 131px 0;
    }

    .footer-grid {
        padding: 69px 131px;
    }
}

@media screen and (min-width: 1850px) {
      .header-grid {
        max-width: 1440px;
        margin: 0 auto;
    }

    .main-grid {
        max-width: 1440px;
        margin: 0 auto;
    }

    .footer-grid {
        max-width: 1440px;
        margin: 110px auto 0;
    }

/*     Registeration Page */

    .reg-grid {
        max-width: unset;
        margin: unset;
    }
}